<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>25727194230-d2lkc6rauqudha0p1cuh8u7tr58db62r.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.25727194230-d2lkc6rauqudha0p1cuh8u7tr58db62r</string>
	<key>API_KEY</key>
	<string>AIzaSyBMsr9eVaK_uF4KmfaWeSnOXJP58EhIXPU</string>
	<key>GCM_SENDER_ID</key>
	<string>25727194230</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.fire2</string>
	<key>PROJECT_ID</key>
	<string>my-re-1f2b3</string>
	<key>STORAGE_BUCKET</key>
	<string>my-re-1f2b3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:25727194230:ios:624ff9ac59c4203911bb57</string>
</dict>
</plist>